@import 'markdown/markdown';
@import 'run/run';

.btn-nav-link {
	background: transparent;
	color: $link-color;
}

.card-table {
	margin: 0;
	border: 0;
	box-shadow: none;

	thead,
	tfoot {
		background-color: $card-cap-bg;
	}

	thead th {
		border-top: 0;
	}

	th:first-child,
	td:first-child {
		border-left: 0;
	}

	th:last-child,
	td:last-child {
		border-right: 0;
	}

	tr:last-child th,
	tr:last-child td {
		border-bottom: 0;
	}

	/* stylelint-disable selector-max-compound-selectors */
	:first-child tr:first-child :first-child {
		border-top-left-radius: $card-border-radius;
	}

	:first-child tr:first-child :last-child {
		border-top-right-radius: $card-border-radius;
	}

	:last-child tr:last-child :first-child {
		border-bottom-left-radius: $card-border-radius;
	}

	:last-child tr:last-child :last-child {
		border-bottom-right-radius: $card-border-radius;
	}
	/* stylelint-enable */
}

// Links that fit their entire parent element.
.td-link {
	display: block;
	margin: -$table-cell-padding;
	padding: $table-cell-padding;
}

.panel-header-link {
	display: block;
	margin: (-$card-spacer-y) (-$card-spacer-x);
	padding: $card-spacer-y $card-spacer-x;
}

// List group padding is noticeably inconsistent with cards and tables.
.list-group-item-card-padding {
	padding: $card-spacer-x;
}
